In [1]:
import pandas as pd

df = pd.read_csv('avocado.csv')
df = df[['Date', 'AveragePrice']].dropna()

df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

daily_df = df.resample('D').mean()
d_df = daily_df.reset_index().dropna()



d_df = d_df[['Date', 'AveragePrice']]
d_df.columns = ['ds', 'y']
d_df.head()

           ds         y
0  2015-01-04  1.301296
7  2015-01-11  1.370648
14 2015-01-18  1.391111
21 2015-01-25  1.397130
28 2015-02-01  1.247037

In [14]:
d_df.to_csv("avocado_daily.csv",index = False , columns = ['ds', 'y'] )